# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

pool:
  vmImage: ubuntu-latest

- script: |
    sudo apt update

    curl https://sh.rustup.rs -sSf | sh

    source $HOME/.cargo/env

    rustc --version

    cargo build
    cargo run
    cargo doc
  displayName: 'Run a multi-line script'
